@import '../../estilosGlobais/variaveis.module.scss';

.facilidades {
    background-color: $preto;
    color: white;
    margin-top: 44px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    h2 {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        margin-bottom: 22px;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 22px;
        margin: 22px 0;
        justify-content: center;
        div {
            width: 60%;
            h5{
                color: $verde;
                font-weight: bold;
                margin-bottom: 22px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}

@media screen and (min-width: $tamanho-tablet) {
    .facilidades {
        align-items: center;
        margin-top: 0;
        h2 {
            font-size: 32px;
        }
        &__item {
            width: 45%;
            div {
                h5 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: $tamanho-desktop) {
    .facilidades {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 33.3% 33.3% 33.3%;
        padding: 22px $desktop-container-main;
        h2{
            grid-row: 1/1;
            grid-column: 1/4;
        }
        &__item{
            grid-row: 2/2;
            justify-self: center;
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        &__item--1{
            grid-column: 1/2;
        }
        &__item--2{
            grid-column: 2/3;
        }
        &__item--3{
            grid-column: 3/4;
        }
    }
}