$fonte: 'Inter', sans-serif;

$mobile-fonte-pequena: 13px;
$mobile-fonte-media: 16px;
$mobile-fonte-grande: 24px;
$mobile-fonte-titulo: 28px;

$mobile-container: 22px;
$tablet-container-cabecalho: 23px;
$tablet-container-main: 39px;
$desktop-container-main: 165px;

$tablet-fonte-pequena: 13px;
$tablet-fonte-media: 16px;
$tablet-fonte-semi-grande: 20px;
$tablet-fonte-titulo: 28px;
$tablet-fonte-titulo-maior: 32px;

$desktop-fonte-pequena: 13px;
$desktop-place-holder-fonte: 15px;
$desktop-fonte-media: 16px;
$desktop-fonte-semi-grande: 20px;
$desktop-fonte-titulo: 32px;

$tamanho-tablet: 768px;
$tamanho-desktop: 1440px;

$cinza: #CCCCCC;
$verde: #DAFF01;
$roxo: #9353FF;
$preto: #000000;
$coral: #EE3471;
$laranja: #F87F46;
$branco: #ffffff;
$preto-menu: #343a40;
$preto-fonte: #212529;